*{
    margin: 0;
    padding: 0;
  }

  body{
    background: rgb(179, 179, 28);

height: 100%;
    width: 100%;
    font-size: auto;
  }
  
  .game-buttons{
    color: black;
    background-color: rgb(255, 242, 218);
    border: 0;
    border-radius: 16cm;
    font-size: 25px;
    text-align: center;

  }

  .game-buttons:hover{
    color: black;
    background-color: rgb(255, 228, 179);
    border: 0;
    border-radius: 16cm;
    font-size: 25px;
    text-align: center;
  }

  .game-buttons:active{
    color: black;
    background-color: rgb(194, 172, 133);
    border: 0;
    border-radius: 16cm;
    font-size: 25px;
    text-align: center;
  }

  .game-time{
    font-size: 20px;
    left: 50px;
    right: inherit;
    color: black;
  }

  .game-from{
    color: black;
    font-size: large;
  }

.line-removed{
    color: white;
  }